.weather-app{
  padding: 50px;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  border: solid 1px #FFFFFF80;
  transition: all .3s ease;
}

.weather-app:hover{
  border: solid 1px #FFFFFF40;
}

/*Wrapper Serch*/
.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.search input{
  border-radius: 200px;
  border: 1.5px solid #FFFFFF;
  background-color: transparent;
  padding: 10px 15px;
  color: #FFFFFF;
  outline: none;
  font-size: 19px;
}

.search input:focus{
  border: 1.5px solid #FFFFFF80;
}

.search input:hover{
  opacity: 70%;
}

.search .btn-search{
  width: 45px;
  height: 45px; 
  border-radius: 50%;
  background-color: #FFF; 
  border: none;
  border: 1px solid #FFF;
  outline: none;
  cursor: pointer; 
  transition: all .3s ease;
}

.search .btn-search:hover{
  opacity: 70%;
}

.error-message{
  border-radius: 10px;
  color: #ff6f6f;
  background-color: #FFFFFF;
  border: 1px solid #ff6f6f;
  padding: 10px 20px;
}
/*Wrapper forecast content*/

.box-forecast{
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  background: #FFFFFF10;
  margin-top: 40px;
}


.box-forecast h3{
  margin: 0px 0px 15px 0px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}

.box-forecast h1{
  color: #FFF;
  font-size: 90px;
  font-weight: 500;
  margin: 0;
}

.box-forecast h2{
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.box-forecast .wrapper-wind{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0px 20px 0px;
}

.box-forecast .wrapper-hum{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box-forecast .divisor{
  opacity: 50%;
}

/*Media query*/
@media(max-width:670px){
  .weather-app{
    width: 100%;
    max-width: 450px;
  }
}

@media(max-width:585px){
  .weather-app{
    width: 100%;
    max-width: 400px;
  }
}

@media(max-width:530px){
  .weather-app{
    width: 100%;
    max-width: 350px;
  }
}

@media(max-width:480px){
  .weather-app{
    width: 100%;
    max-width: 300px;
  }
}

@media(max-width:430px){
  .weather-app{
    padding: 20px 20px 0px 20px;
    width: 100%;
    max-width: 250px;
  }

  .search input{
    padding: 10px 10px;
    width: 100%;
  }
  .search input{
    padding: 10px 10px;
    width: 100%;
  }

  .search .btn-search{
    width: 35px;
    height: 35px; 
    border-radius: 50%;
  }

  .box-forecast{
    width: 100%;
    padding: 20px;
  }
}

@media(max-width:320px){
  .weather-app{
    padding: 10px 10px 0px 10px;
    width: 100%;
    max-width: 200px;
  }

  .box-forecast{
    width: 100%;
    padding: 10px 10px 20px 10px;
  }
}

@media(max-width:240px){
  .search{
    flex-direction: column;
    width: 100%;
  }
  .weather-app{
    width: 100%;
    max-width: 150px;
  }
  .box-forecast h1{
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    margin: 0;
  }

  .box-forecast h3{
    font-size: 15px;
    font-weight: 400;
  }

  .box-forecast span{
    font-size: 12px;
    font-weight: 400;
  }
}