:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #FFFFFF;
  text-align: center;
}

body{
  height: 100%;
  background: linear-gradient(225deg, #47BFDF 0%, #4A91FF 100%);
}